<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
  </head>
  <body>
    <form  action="/login" method="post">
      {% csrf_token %}
      <input type="email" name="email" placeholder="jack@coding.com">
      <input type="password" name="password" placeholder="********">
      <button type="submit" name="button">Log In</button>
    </form>
    <form action="/register" method="post">
        {% csrf_token %}
      <input type="text" name="first_name">
      <input type="text" name="last_name">
      <input type="email" name="email">
      <input type="password" name="password">
      <input type="password" name="confirm_password">
      <button type="submit" name="button">Register</button>
    </form>
  </body>
</html>
