<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- css stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{% static 'wall/css/style.css' %}">

  <title>The Wall</title>
</head>

<body>
  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="navbar-form navbar-right">
            <li><a href="{% url 'User:profile' %}">Profile</a></li>
            <li><a href="{% url 'LogReg:logout' %}">Logout</a></li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="row">
    <header class="jumbotron jumboText">
      <div class="container textOverImg">
        <h1>The Wall{% if "user" in request.session %} - Hello {{ request.session.user.first_name }} {% endif %}</h1>
      </div>
    </header>
  </div>

  <div id="main" class="container">

    <div id="post" class="row">
      <div class="col-md-12">
        <form action="{% url 'Wall:message' %}" method="post" class="form-message">
          {% csrf_token %}
          <fieldset>
            <div class="form-group">
              <label class="flash_messages">Post a message
                {% if messages %}
                {% for message in messages%}
                <p class="error">{{ message }}</p>
                {% endfor %}
                {% endif %}
              </label>
            </div>
            <div class="form-group">
              <textarea rows="4" cols="90" name="message" class="message"></textarea>
              <button class="btn btn-primary btn-block submit" name="wall_posts" value="message_submit" type="submit">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="row">
      <div id="messages" class="col-md-12">
        {% if all_messages %}
        {% for message in all_messages %}
        <h5><a href="{% url 'Wall:show_user' message.author.id %}">{{message.author.first_name}} {{message.author.last_name}}</a>  - {{message.created_at|timesince}} ago</h5>
        <p class="message">{{ message.message }}</p>
        <div class="row">

        <div id="comments" class="toggle col-md-12">
          {% if comments %}
          <ul>
             {% for comment in comments %}
             {% if message.id == comment.message.id %}
            <h5><a href="{% url 'Wall:show_user' comment.author.id %}">{{comment.author.first_name}} {{comment.author.last_name}}</a> - {{comment.created_at|timesince}} ago</h5>
            <li>{{ comment.comment }}</li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
          <h6 class="comment_label">Post a comment</h6>
          <form action="{% url 'Wall:comment' message_id=message.id %}" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages%}
            <p class="error">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <div class="form-group">
              <textarea rows="1" cols="60" name="comment" class="comment"></textarea>
            </div>
            <button class="btn btn-sm btn-primary submit" name="wall_posts" value="comment_submit" type="submit">Submit</button>
          </form>
          <div class="separator"></div>
          {% endfor %}
          {% endif %}
        </div>
      </div>

  </div>
  <!-- /container -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'wall/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'wall/js/scripts.js' %}"></script>

</body>

</html>
