.container {
  display: grid;
}

.header {
  padding: 3rem 5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;

  &__right {
    justify-self: flex-end;
  }

  &__form {
    display: flex;
    justify-content: space-around;

    .form-group {
      padding: 2rem;
    }
  }
}

.content {
  height: 90vh;
  background-image: url(../img/billiards.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  // clip-path: polygon(0 0, 100vw 10vh, 100vw 90vh, 0 80vh);
}